$font-stack:    "Segoe UI", Arial, sans-serif;
$primary-color: #c00;
$secondary-color: #da2687;
$another-color: #f00;

// %message-shared is extended below.
// $npm run build-css will print in generated css
%message-shared {
  border: 4px solid #ccc;
  padding: 10px;
  color: #333;
}

// %equal-heights is not extended.
%equal-heights {
  display: flex;
  flex-wrap: wrap;
}


body {
  font: $font-stack;
}

.app-header {
  background-color: $primary-color;
}

.app-link {
  color: $primary-color;
text-decoration: none;
}

.spinner {
  color: $another-color;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: #86c232;
}

.error {
  @extend %message-shared;
  border-color: red;
}

.warning {
  @extend %message-shared;
  border-color: yellow;
}

// normalize adDed
section {
  margin: 10px;
  text-align: left;
  color: #282c34;
}
.dark{
  color: #282c34;
}

/*------------------------------------------------------------------------------*/
/* BUTTONS */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {

  background-color: #ddd;
  border: 0;
  border-radius: 4px !important;
  color: #777 !important;

  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;

  height: 4em;
  line-height: 4em;
  padding: 0 3em;
  text-align: center;
  text-decoration: none;
  text-transform: none !important;
  white-space: nowrap;
  margin-bottom: 3px;
}

button:focus {
  outline: 0;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  color: #888 !important;
  background-color: #ccc;
}

/*COLORED buttons-------*/
.button-error {
  /**/
  color: #bbb !important;
  background-color: #c00;
}
.button-error:hover {
  color: #ccc !important;
  background-color: #f00;
}

.button-theme {
  color: #bbb !important;
  background-color: #c00;
  margin-bottom: 26px; 
}
.button-theme:hover {
  color: #fff !important;
  background-color: #f00;
}

.theme {
  color: #c00;
}

/*------------------------------------------------------------------------------*/
/* FORMS */
input[type="text"],
input[type="password"],
select,
textarea {
  /**/
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;

  margin-top: 0px;
  margin-bottom: 26px;
}

textarea {
  resize: vertical;
}

/*------------------------------------------------------------------------------*/
/* IMG */
img.logo {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

img.icon-small {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

img.icon-user {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 13px;
}

img.icon-big {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 13px;
}
img.icon-small-sq {
  width: 50px;
  height: 50px;

  border-radius: 3px;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

img.icon-big-sq {
  width: 150px;
  height: 150px;

  border-radius: 3px;
  padding: 1px;
  border: 1px solid #ddd;
  margin-top: 13px;
}

img.cnn {
  width: 80%;
  height: auto;

  border-radius: 3px;
  padding: 1px;
  border: 1px solid #ddd;
  margin-top: 13px;
}

.login-footer{
  font-size: 0.8em;
}


/*A*/
a.cnn:link, a.cnn:visited{color:#777; text-decoration:none;}
a.cnn:hover{ color:#c00; text-decoration:underline;}

a.facebook:link, a.facebook:visited{color:#777; text-decoration:none;}
a.facebook:hover{ color:#3b5998; text-decoration:underline;}

a.twitter:link, a.twitter:visited{color:#777; text-decoration:none;}
a.twitter:hover{ color:#55ACEE; text-decoration:underline;}

p.cnn{
  color: #c00; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic; font-size: 0.9em;

}
.padme{
  padding: 24px;
}


body{
	background-color:#0cf;
	margin:0 !important;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;
}

ul {
  list-style-type: none;
}

.footer{background-color:#1D242A; color:#ccc;
}

/*------------------------------------------------------------------------------*/
/* hr RUN */
/* default */
hr {  /*sea_inspired*/
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
		
/* theme */
.hr_theme_lyte {  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #93CAB6;
  margin: 1em 0;
  padding: 0;
}
.hr_theme_continuum {  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F1B356;
  margin: 1em 0;
  padding: 0;
}
.hr_theme_dark {  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $primary-color;
  margin: 1em 0;
  padding: 0;
}
		
/* colorful */
.hr_yello {  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #F1B356;
  margin: 1em 0;
  padding: 0;
}
.hr_purple{  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #9966ff;
  margin: 1em 0;
  padding: 0;
}
.hr_bb {  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0cf;
  margin: 1em 0;
  padding: 0;
}
.hr_lg {  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #00ff00;
  margin: 1em 0;
  padding: 0;
}
.hr_green {  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #1AA379;
  margin: 1em 0;
  padding: 0;
}
.hr_pink {  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #DA2687;
  margin: 1em 0;
  padding: 0;
}
.hr_error{  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cc0000;
  margin: 1em 0;
  padding: 0;
}

.hr_seven{  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #777;
  margin: 1em 0;
  padding: 0;
}

.hr_four{  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #444;
  margin: 1em 0;
  padding: 0;
}

.hr_two{  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #222;
  margin: 1em 0;
  padding: 0;
}


